@page "/fetchdata"

<PageTitle>Weather forecast</PageTitle>

<p>This component demonstrates fetching data from a service.</p>

   <div class="container">
        @foreach(var row in board.BoggleBoard)
        {
            <div class="row">
                @foreach(var character in row)
                {
                    <div class="col-md-1">
                        @character
                    </div>
                }
            </div>
        }
   </div>
@code {
    public Board board = new Board();
}
