@page "/GameLobby"
@using Microsoft.AspNetCore.SignalR.Client
@inject NavigationManager navman
@inject User usr
@inject IJSRuntime js
@implements IDisposable
@inject IDbContextFactory<sliceofbreadContext> dbFactory

<h3>GameLobby</h3>
<button @onclick="click" class="btn btn-primary @disabled"> connstring</button>



@code {


    public sliceofbreadContext Context;
    public string disabled = " ";
    string passcode = "";
    HubConnection? hub;

    protected override async Task OnInitializedAsync() {

        var x = await usr.hub.InvokeAsync<string>("GetConnectionID");

        await base.OnInitializedAsync();
    }

    public async void click()
    {
        await js.InvokeVoidAsync("alert", (string)await usr.hub.InvokeAsync<string>("GetConnectionID"));
    }

    public void Dispose()
    {
        Context.Dispose();
    }



    
}
