#game {
    min-height: 600px;
    padding-bottom: 20px;
}

header {
    width: auto;
    margin: 10px auto;
    text-align: center;
}

#dice-grid {
    //border: 5px solid #000000;
    padding: 10px;
    width: 415px;
    height: 425px;
    margin: 0 auto;
    background-color: #061fc6;
    border-radius: 24px;
    box-shadow: inset -2px -3px 8px rgba(0,0,0,.3), inset 2px 3px 8px rgba(255,255,255,.3);
    font-family: 'Averta',sans-serif;
    //margin-left: auto;
    //margin-right: auto;
}

.dice {
    text-align: center;
    padding: 25px;
}

.letter {
    height: 75px;
    width: 75px;
    margin: 7px 3.5px;
    border-radius: 16px;
    background-color: #fff;
    box-shadow: -2px -4px 8px rgba(0,0,0,.3), 2px 4px 8px rgba(255,255,255,.3);
    outline: none;
    border: none;
    font-weight: 600;
    text-transform: capitalize;
    font-size: 52px;
}

.selected {
    background-color: #f5f15c
}

.opponent stats {
    box-shadow: inset 3px 3px 10px rgba(0,0,0,.3), inset -3px -3px 10px rgba(255,255,255,.3);
}