#game {
    min-height: 600px;
    padding-bottom: 20px;
}

header {
    width: auto;
    margin: 10px auto;
    text-align: center;
}

#dice-grid {
    //border: 5px solid #000000;
    padding: 10px;
    width: 415px;
    height: 425px;
    margin-left: 33%;
    margin-top: 0;
    margin-bottom: 0;
    background-color: #061fc6;
    border-radius: 24px;
    box-shadow: inset -2px -3px 8px rgba(0,0,0,.3), inset 2px 3px 8px rgba(255,255,255,.3);
    font-family: 'Averta',sans-serif;
    //margin-left: auto;
    //margin-right: auto;
}

.board {
    display: flex;
}

.dice {
    text-align: center;
    padding: 25px;
}

.opponent_stats {
    width: 20%;
    margin-top: 150px;
    margin-bottom: 10px;
    margin-left: 50px;
    box-shadow: inset 3px 3px 10px rgba(0,0,0,.3), inset -3px -3px 10px rgba(255,255,255,.3);
    height: 90%;
    border-radius: 24px;
    padding: 15px;
}

.letter {
    height: 75px;
    width: 75px;
    margin: 7px 3.5px;
    border-radius: 16px;
    background-color: #fff;
    box-shadow: -2px -4px 8px rgba(0,0,0,.3), 2px 4px 8px rgba(255,255,255,.3);
    outline: none;
    border: none;
    font-weight: 600;
    text-transform: capitalize;
    font-size: 52px;
}

.selected {
    background-color: #f5f15c
}

#word-info {
    margin: 10px;
    margin-left: 27%;
    display: flex;
}

#submit-btn {
    //float: right;
    margin: 10px;
    margin-left: 300px;
    height: 30px;
    width: 150px;
    text-align:center;
}

#score-table {
    width: 40%;
    outline: 3px solid #061fc6;
    margin-left: 30%;
    margin-top: 20px;
    border-spacing: 0;
}
    tr,
    th
{
    text-align: left;
}

th, td {
    padding: 2px;
    margin: 0;
    border-bottom: 3px solid #061fc6;
    background-color: #fff;
}

    th:first-child,
    td:first-child {
        width: 70%;
    }

    th:last-child,
    td:last-child {
        width: 30%;
        border-left: 3px solid #061fc6;
    }