@page "/Game"
@using Microsoft.AspNetCore.SignalR.Client
@inject NavigationManager navman
@inject IJSRuntime js


<link rel="stylesheet" type="text/css" href="StyleSheet.css">


    <section id="game">
        <header>
            <h3>Boggle</h3>
        </header>
        
        <section id="dice-grid">
            <div class="dice">
            @foreach (var row in b.BoggleBoard)
            {
                @foreach(var item in row)
                {
                    //callback event: "btnClick(item)"
                    //void "() => btnClick(item)"
                    <button @onclick="() => btnClick(item)" class="letter" value="@item">@item</button>
                }
                 
            }
            </div>
        </section>

        <div class="opponent stats">
            <div>Opponent's Username:</div>
            <div>""</div>
            <div>Opponent's Score:</div>
            <div>0</div>
        </div>

        <section id="word-info">
            <div id="word-holder">
                <h5>Current Word:</h5>
                <p id="current-word"></p>
            </div>
            <button id="submit-btn">Submit Word</button>
        </section>
        <table id="score-table">
            <tr>
                <th>Word</th>
                <th>Score</th>
            </tr>
            <tr>
                <td>Total:</td>
                <td id="total-points">0</td>
            </tr>
        </table>
    </section>
    
@code {


    Board b = new Board();


    public void btnClick(char a)
    {
        js.InvokeVoidAsync("alert", a);

        return;
    }
}
